body {
  background: #141414;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container img {
  width: 250px;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 250px;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 20px;
  font-size: 17px;
  padding: 15px;
  text-align: center;
}

.icon {
  margin-left: 10px;
}
